body{
    margin: 0px;
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #EAEAEA;
}

.header{
    /* margin: 0; */
    background-color: #EAEAEA;
    height: 10%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.fatec-logo{
    width: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.botao-menu{
    background-color: #B90404;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    gap: 7px;
    cursor: pointer;
    padding: 5px 10px;
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
}

.botao-icon{
    width: 20px;
    height: 20px;
}

.botao-menu:hover {
    background-color: #ff6262;
    transition: background-color 0.3s;
}

.botao-admin{
    background-color: #b5b5b5;
    border: none;
    border-radius: 3px;
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 8px 10px;
}

.botao-admin:hover{
    background-color: #7b7b7b;
    transition: background-color 0.3s;
}

#description{
    width: 100%;
    min-height: 240px;
    background-image: url("../../assets/restaurante.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
}

#description p {
    max-width: 30%;
    line-height: 1.5;
    margin: 0; 
    text-align: left;
    word-wrap: break-word;
}

#container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-items: stretch;
    box-sizing: border-box;
}

#item {
    background: 
        linear-gradient(
            to right, 
            red 0px, 
            red 3px, 
            transparent 3px
        );
    padding-left: 15px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botaoRemover{
    background-color: #B90404;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 11px 25px;
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
}

#botaoRemover:hover {
    background-color: #ea1c1c;
    transition: background-color 0.3s;
}

#finalizarCompra {
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

#botaoSenha {
    margin-top: 20px;
    background-color: #00bb09;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 30px;
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

#botaoSenha:hover {
    background-color: #13ff2b;
}

a{
    text-decoration: none;
}